@import url(//db.onlinewebfonts.com/c/7200c6dd8ac604abe09f5159e53a40c0?family=Mark+Pro);

body {
    font-family: "Mark+Pro";
}

.pagina-home {
    color: #222222;
    background-color: #e0e0e0;
}

.cabecalho {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
}

.container-data_hora {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hora {
    font-weight: 700;
    font-size: 125px;
    color: #222222;
}

.data {
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    color: #222222;
    font-family: "Poppins";
}

.container-localizacao-clima {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 10px;
    margin-right: 0%;
}

.localizacao {
    justify-content: end;
    font-weight: 400;
    font-size: 22px;
    line-height: 18px;
}

.clima {
    position: relative;
    font-size: 70px;
    font-weight: 700;
}

.icone-clima {
    position: absolute;
    top: 10%;
    width: 4px;
}

.container-img, .imagem {
    width: 4px;
}

.span-temp {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 61px;
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("/img/bola-LogoCompasso.svg");
    background-repeat: no-repeat;
    background-size: 30%;
    padding: 0 60px;
    height: 70vh;
}

.mission {
    font-weight: 700;
    font-size: 24px;
    color: #C12D18;
    text-align: right;
    font-weight: 700;
    
}

.texto-ingles {
    color: #C12D18;
    font-weight: 700;
    font-size: 36px;
    text-align: right;
}

.tx-portugues {
    text-align: right;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 3vh;
}

.rodape {
    display: flex;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
}

.container-rodape {
    color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.span-rodape {
    font-style: normal;
    font-size: 0.7rem;
    max-width: 480px;
    text-align: right;
    padding-left: 200px;
}

.linha {
    height: 60%;
    margin: 0 60px 0 30px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.recarregar {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.contagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer, .horario {
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;
    margin-left: 16px;
    font-family:'Lucida Sans';
}

.segundos {
    font-weight: 400;
    font-size: 14px;
    margin-top: -10px;
}

.container-rodape-direita {
    width: 30%;
    display: flex;
    justify-content: end;
}

.botao-rodape {
    border: none;
  font-size: 0.8rem;
  font-weight: 400;
  width: 120px;
  cursor: pointer;
  padding: 26.5px;
}

.botao-redirecionamento {
    color: #c12d18;
    height: 100%;
}

.button-logout {
    font-weight: 700;
    color: #e0e0e0;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    background: transparent;
    border: none;
    background-color: #222222;
}

.container-footer-direita>a {
    height: 100%;
}
